[bumpversion]
current_version = 0.10.4
commit = False
tag = False

[bumpversion:file:src/zhunter/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:docs/conf.py]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:Makefile]
search = VERSION={current_version}
replace = VERSION={new_version}
